#create-product {

  .upload-div {
    position: relative;
  }

  .upload-buttons input[type="file"] {
    width: 6.3em \0/IE9;
    height: 1.5em;
    margin: 5px;
  }

  .upload-buttons input[multiple] {
    width: 6.2em \0/IE9;
  }

  .upload-button {
    width: 160px;
    Height: 30px;
    display: inline-block;
    line-height: 30px;
    padding: 0 10px;
    background: #CCC;
    appearance: button;
    -moz-appearance: button; /* Firefox */
    -webkit-appearance: button; /* Safari and Chrome */
  }

  .sel-file {
    padding: 1px 5px;
    font-size: smaller;
    color: grey;
  }

  .response {
    padding-top: 30px;
  }

  .response>ul {
    list-style-type: decimal;
  }

  .response li, .response .reqh {
    color: blue;
    font-size: smaller;
    padding-bottom: 5px;
  }

  .progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
  }

  .progress div {
    font-size: smaller;
    background: orange;
    width: 0;
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 170px;
    text-align: center;
    padding-top: 35px;
  }

  .drop-box.dragover {
    border: 5px dashed #000;
  }

  .drop-box.dragover-err {
    border: 5px dashed red;
  }

  /* for IE*/
  .js-fileapi-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  button {
    padding: 1px 5px;
    font-size: smaller;
    margin: 0 3px;
  }

  .ng-v {
    float: right;
  }

  .sel-file img {
    float: left;
    width: 18px;
    height: 18px;
  }

  .sub {
    font-size: smaller;
    color: #777;
    padding-top: 5px;
    padding-left: 10px;
  }

  .err {
    font-size: 12px;
    color: #C53F00;
    margin: 15px;
    padding: 15px;
    background-color: #F0F0F0;
    border: 1px solid black;
  }







  input {
    border-radius: 5px;
    line-height: 28px;
  }
  textarea {
    border-radius: 5px;
    border: 1px solid #999;
  }




  .upload-buttons {
    float: left;
    input.upload-link {
      margin-top: 30px;
    }
  }

  .preview {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    left: 0;
    img {
      position: relative;
      display: block;
      width: 175px;
      height: 175px;
    }
    span {
      position: relative;
      clear: both;
      display: block;
    }
  }

  .info {
    display: inline-block;
    vertical-align: bottom;
    .name {
      label {
        display: block;
      }
      input {
        width: 250px;
        border: 1px solid #999;
      }
    }
    .description {
      label {
        display: block;
      }
      textarea {
        width: 250px;
        height: 100px;
      }
    }

  }

  .macros {
    display: inline-block;
    vertical-align: bottom;
    .fat, .protein, .carbs {
      margin: 10px 0;
    }

    input {
      width: 100px;
      border: 1px solid #999;
    }
  }


}