<section data-ng-controller="createProductController">
  <div id="create-product">
    <h2>Create a Product</h2>
    <div class="upload-div">
      <div class="upload-buttons">
        choose a single file: <input type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" accept="image/*">
        <br/>
      </div>
      <br/>
      <!-- ng-file-drag-over-class and ng-file-drag-over-delay are optional for styling and css transition handling #277 -->
      <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drop-available="dropSupported=true"
           ng-file-drag-over-class="dragOverClass($event)" ng-file-drag-over-delay="100">or drop files <div>here</div></div>
      <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
      <br/>
      <div class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
      <br/>
      Progress:
      <br/>
      <br/>
      <div ng-show="selectedFiles != null">
        <div class="sel-file" ng-repeat="f in selectedFiles">
          {{($index + 1) + '.'}}
          <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
          {{f.name}} - size: {{f.size}}B - type: {{f.type}}
        </div>
      </div>


    </div>
  </div>
</section>